{% extends 'base.html' %}
{% block content %}

          {% for id, content in entries.iteritems() %}
          <div class="blog-post">
            <h2 class="blog-post-title"></h2>
            <p class="blog-post-meta"></p>

            <p>{{ content|safe }}</p>
            <!--<a class="btn" data-toggle="collapse" data-target="#{{ id }}">More &raquo;</a></p>
            <div id="{{ id }}" class="collapse"></div>-->
            <p><a href="{{ url_for('expand_post', id=id) }}">More &raquo;</a>

            <hr>
          </div><!-- /.blog-post -->
          {% endfor %}


 <nav>
            <ul class="pager">
              {%- if prev_pg > 0 %}
              <li><a href="/{{ prev_pg }}">Previous</a></li>
              {% else %}
              <!--<li><a href="/">Previous</a></li>-->
              {% endif %}
              <li><a href="/{{ next_pg }}">Next</a></li>
            </ul>
          </nav>

{% endblock %}